- if @title.errors.any?
  %h2 The following errors prevented the title from being saved. 
  - @title.errors.full_messages.each do |msg|
    %li= msg
= form_with(model: @title, local: true)  do |f|
  %p 
    = f.label :title
    %br
    = f.text_field :name
  %p 
    = f.label :description
    %br
    = f.text_area :description
  %p 
    = f.label :rating
    %br
    = f.text_field :rating
  %p 
    = f.label :director
    %br
    = f.text_field :director
  %p 
    = f.label :cast
    %br
    = f.text_area :cast
  %p 
    = f.label :year
    %br
    = f.text_field :release_year
  %p 
    = f.label :country
    %br
    = f.text_field :country
  %p 
    = f.label :length
    %br
    = f.text_field :duration
  %p 
    = f.label :media_type
    %br
    = f.text_field :media_type
  %p 
    = f.submit