%h1 Movie List
= form_tag "/titles", method: "GET" do
  = label_tag :title
  = text_field_tag :name, params[:name]
  = submit_tag "Search"

- @titles.each do |title|
  %h2= link_to title.name, title_path(title) #{title.name}
  %h4.colspan-3 Actions:
  = link_to 'Edit', edit_title_path(title)
  = link_to 'Delete', title_path(title), method: :delete, data: { confirm: "Are you sure?"}
  %hr
